*{
  color: white;
}

/*estilos generales*/
.desktop{
  display: none;
}

.text-uppercase {
  text-transform: uppercase;
}

/*estilos para el encabezado*/
/*boton de barras*/
.boton-hamburger{
  /*posicionandolo al lado izquierdo*/
  float: left;
}
.principal{
  margin: 0;
}

/*primera seccion-comienza tu viaje*/
/*primer fondo*/
.first-background{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 120vh;
  /*aplicando flex para que el bloque comienza tu viaje se posicione al medio*/
  display: flex;
  /*lo posiciona al centro y al final*/
  align-items: center;
  justify-content: flex-end;
}
/*elimina el espaciado entre la primera sección y el encabezado*/
.container2{
  padding: 0;
}
/*seccion start-bloque naranja*/
.start{
  /*outline: 1px solid red;*/
  background-color: #f7b617;
  color: white;
  height: 60vh;
  width: 74vw;
  padding-left: 2rem;
  padding-top: 2rem;
}
/*logo blanco en el bloque start*/
img[alt="logo-blanco"]{
  width: 15%;
  margin-left: 1rem;
}
/*incorporando lineas laterales al texto*/
.text{
  text-align: center;
  width: 80%;
}
/*línea lateral despues*/
.text:after {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 80px;
  height: 1px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-top: 20px;
  margin-left: 5rem;
}
/*línea lateral antes del texto*/
.text:before {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 80px;
  height: 1px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-top: 20px;
  margin-right: 5rem;
}
/*boton descargar*/
.btn-white{
  color:#48454c;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 1rem;
  padding: 1rem;
  font-weight: bold;
}


/*segunda seccion-la nueva app*/
.section-orange{
  background-color:  #f7b617;
  color: white;
}
/*seccion la nueva app*/
.new-app{
  /*borde exterior*/
  border: 1px solid white;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*tercera seccion-conduce*/
/*fondo en la seccion conduce*/
.second-background{
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 100vh;
}
/*btn naranaja*/
.btn-orange{
  color: white;
  border-radius: 10px;
  background-color: #f7b617;
  margin-top: 1rem;
}

.third-section{
  background-color:rgba(52, 52, 52, 0.45);
  height: 100vh;
  padding-left: 3rem;
  padding-top: 10rem;
  color: white;
  text-align: left;
}
/*cuarta seccion-tarifa*/
.tarifa{
  /*outline: 1px solid red;*/
  padding-top: 2rem;
}

/*cambiando estilos a los inputs del formulario*/
.tarifa .form-group input[type="text"]{
  display: inline-block;
  width: 50%;
  background-color: #f7b617;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 1rem;
}
/*cambiando el color gris del placeholder*/
.tarifa .form-group input::-webkit-input-placeholder{
  color: white;
}
/*modificando el sentido del segundo icono*/
.icon{
  transform:rotate(70deg);
}

.line{
/*outline: 1px solid red;*/
}
.map{
  margin-top: 5rem;
  border: 1px solid white;
  width: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
}
.line{
  outline: 1px solid red;
}
footer{
  background-color: #2b2b2b;

}
.footer-title{
  margin-left: 1rem;
}
img[alt="lab"]{
  margin-top: 2rem;

}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}
.list1{
  margin-left: 1rem;
  line-height: 2.5;
}
.footer-icons{
  margin-bottom: 4rem;
  font-size:1em;
}

.footer-icons li{
  padding-right: 1rem;
  display: inline-block;
}

.footer-img figure{
  margin-bottom: 2rem;
}



/*media queries*/
/*modificaciones */
@media (min-width: 992px){
  .start{
    height: 80vh;
    width: 41vw;
  }

.flex{
  display: flex;
  justify-content: space-around;
}
.downloand{
text-align: justify;
width: 40%;
}
.phone{
  width: 40%;
}
/*posicionando la seccion descarga a la izquierda*/
.second-section{
margin-left: -60px;
}
.map{
  margin-top: 3rem;
}
.btn-ruta{
  margin-left: 7rem;
}
footer .icones{

outline: 1px solid red;
  height: 70vh;
}
.icones li {
  position: relative;
  top:25rem;

display: inline-block;
outline: 1px solid red;

}


.footer-img{
  outline: 1px solid red;
height: 70vh;
display: flex;
flex-direction: column;

  justify-content: flex-end;
}
/**/

}


@media (min-width:1200px){
  .start{
    outline: 1px solid red;
    width: 41vw;
  }
  .text{
  width: 65%;
  }
  .map{
    width: 80%;
  }

}



/*ejecucion de modales*/
/*modal iniciar sesion*/
/*contenedor de la seccion iniciar sesion*/
.content-sesion{
  /*aplicando color y eliminando bordes circulares*/
  background-color: #08ac9d;
  border-radius: 0;
}
/*seccion iniciar sesión*/
.start-sesion{
  /*color*/
  background-color: #f5f5f5;
  /*ancho*/
  width: 50%;
  /*borde y espaciado*/
  border-radius: 1rem;
  padding: 2rem;
}
/*entradas username y password*/
.input-sesion{
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/*eliminado bordes de los iconos*/
.start-sesion .form-group span{
  border: none;
}
/*espaciado y color al texto olvidar contraseña*/
.text-forgot{
  color:black;
  padding-top:  2rem;
}
.text-forgot a{
  color: red;
}

/*modal registrate*/
/*contenedor de la seccion registrate*/
.content-register{
  background-color: #a9a9a9;
  /*ancho y espaciado a la izquierda*/
  width: 80%;
  margin-left:8%;
}
/*cada entrada tiene un espaciado inferior*/
.content-register input{
  margin-bottom: 1rem;
}
/*botón ya tienes una cuenta*/
.btn-black{
  background-color: black;
  margin-bottom: 1rem;
}
/*boton cuenta nueva*/
.new-account{
  text-align: center;
  margin-bottom: 1rem;
}
/*entradas del formulario en linea, nombre y apellido*/
.content-register .form-inline input{
  /*espaciado entre ellos*/
  padding-right: 3.5rem;
}
/*boton con el icono "v"*/
.btn-us{
  color:black;
  text-align: center;
  padding-right: 13rem;
  margin-bottom: 1rem;
  padding-left: 10rem;
}
.btn-us span{
  color:black;
}


/*modal convertir en conductor*/
/*etiquetas para las opciones*/
.second-background .content-register .modal-body .form-group label{
  display: block;
  color: black;
  margin-top: 2rem;
}
/*estilos para las opciones de la etiqueta*/
.second-background .content-register .modal-body .form-group .dropdown-toggle{
  width:37vw;
  text-align: left;
}
.content-register form p:nth-last-child{
  color:black;
}
/*estilo para el parrafo en la etiqueta marca*/
.content-register form p{
  color:gray;
}
.content-register form p a{
  color: #6797a9;
}
