/*general*/
.desktop{
  display: none;
}
*{
  color: white;
}
.text-uppercase {
  text-transform: uppercase;
}
/*boton de barras*/
.boton-hamburger{
  /*posicionandolo al lado izquierdo*/
  float: left;
}
.principal{
  margin: 0;
  outline: 1px solid red;
}
/*primera seccion*/
/*primer fondo*/
.first-background{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/**/
.container2{
  padding: 0;

}
/*contenedor flex*/
.flex{
/*display: flex;
align-items: center;
justify-content: flex-end;*/
/* outline: 1px solid red;*/

}
/*seccion start*/
.start{
  /*outline: 1px solid red;*/
  background-color: #f7b617;
  color: white;
  height: 60vh;
  width: 74vw;
  padding-left: 2rem;
  padding-top: 2rem;
}
.start-mobile{
  display: block;
}
.labcar-white{
  width: 15%;
  margin-left: 1rem;
}
.start-desktop{
  display: none;
}
/*incorporando lineas laterales al texto*/
.text{
  text-align: center;
  width: 80%;
  /*outline: 1px solid red;*/
}
.text:after {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 80px;
  height: 1px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-top: 20px;
  margin-left: 5rem;
}
.text:before {
  /*no se aplica ningun texto*/
  content: " ";
  /*se posiciona al lado de la estrella*/
  display: inline-block;
  /*tamaño de la linea*/
  width: 80px;
  height: 1px;
  /*color de fondo*/
  background: white;
  /*posicionamiento al medio de la estrella*/
  margin-top: 20px;
  margin-right: 5rem;
}
/*boton descaragar*/
.btn-white{
  color: black;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 1rem;
}

.btn-orange{
  color: white;
  border-radius: 10px;
  background-color: #f7b617;
  margin-top: 1rem;
}
/*segunda seccion-descargar*/
.section-orange{
  background-color:  #f7b617;
}
.second-section{
  color: white;
}
.new-app{
  border: 1px solid white;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*tercera seccion-conduce*/
.second-background{
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 100vh;

}

.third-section{
  background-color:rgba(52, 52, 52, 0.45);
  height: 100vh;
  padding-left: 3rem;
  padding-top: 10rem;
  color: white;
  text-align: left;
}
/*cuarta seccion-tarifa*/
.tarifa{
  /*outline: 1px solid red;*/
  padding-top: 2rem;
}

/*cambiando estilos a los inputs del formulario*/
.form-group input[type="text"]{
  display: inline-block;
  width: 50%;
  background-color: #f7b617;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 1rem;
}
/*cambiando el color gris del placeholder*/
.tarifa .form-group input::-webkit-input-placeholder{
  color: white;
}
/*modificando el sentido del segundo icono*/
.icon{
  transform:rotate(70deg);
}

.line{
/*outline: 1px solid red;*/
}
.map{
  margin-top: 5rem;
  border: 1px solid white;
  width: 100%;
  padding: 1rem;
  margin-bottom: 5rem;
}

footer{
  background-color: #2b2b2b;

}
.footer-title{
  margin-left: 1rem;
}
img[alt="lab"]{
  margin-top: 2rem;

}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}
.list1{
  margin-left: 1rem;
  line-height: 2.5;
}
.footer-icons{
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  font-size:1em;
}

.footer-icons li{
  padding-right: 1rem;
}

.footer-img figure{
  margin-bottom: 2rem;
}



/*media queries*/
@media (min-width: 992px) and (max-width: 1200px){
  .start{
    height: 80vh;
    width: 41vw;
  }
.start-desktop{
  display: block;

}
.start-mobile{
  display: none;
}

.desktop{
  display: block;
}
.mobile{
  display: none;
}
.flex{
  display: flex;
  justify-content: space-around;
}
.downloand{
text-align: justify;
width: 40%;
}
.phone{
  width: 40%;
}
/*posicionando la seccion descarga a la izquierda*/
.second-section{
margin-left: -60px;
}
.map{
  margin-top: 3rem;
}

.icones{

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100vh;
}
.icones li {
display: inline-block;
margin-right: 1rem;

}
.footer-img{
  outline: 1px solid red;
height: 100vh;
display: flex;
flex-direction: column;

  justify-content: flex-end;
}
/**/

}

/*ejecucion de modales*/
.content-sesion{
  background-color: #08ac9d;
  border-radius: 0;
}
.start-sesion{
  background-color: #f5f5f5;
  width: 50%;
  border-radius: 1rem;
  padding: 2rem;

}
.input-sesion{
  /*outline: 1px solid red;*/
margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;

}
.start-sesion .form-group span{
  border: none;
}
.start-sesion .input-group .input-text{
  background: none;
  margin-left: 0rem;
  border: none;
  padding: 0px;
  padding-left: 1rem;
  border-left: 1px solid #ccc;
}
.text-forgot{
  color:black;
  padding-top:  2rem;
}
.text-forgot a{
  color: red;
}

/*modal registrate*/
.content-register{
  background-color: #a9a9a9;
  width: 80%;
margin-left:8%;
}
.content-register input{
  margin-bottom: 1rem;
}
.btn-black{
  background-color: black;
  margin-bottom: 1rem;
}
.new-account{
  text-align: center;
  margin-bottom: 1rem;

}
.content-register .form-inline input{
  width: 22.3vw;

}
.btn-us{
  color:black;
/*outline: 1px solid red;*/
text-align: center;
width: 45vw;
margin-bottom: 1rem;
}

.btn-us span{
    color:black;
    /*padding-right: 11rem;*/
}


/*modal convertir en conducto*/
.form-conduce label{
display: block;
  color: black;

}
.input-conduce{
margin-bottom: 2rem;

}
.input-conduce button{
width:45vw;
text-align: left;
}
.input-conduce span{
  color:black;
}
.input-conduce p{
  color:gray;
}
.input-conduce a{
  color: #6797a9;
}
